body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.main{
    border: 5px solid  black;
    border-radius: 5px;
    background-color: rgb(136, 130, 136);
    padding: 25px;
    margin: 25px;
}
.main h1 {
    padding: 18px;
    margin: 8px;
    color: rgb(16, 0, 16);
    background-color: rgb(116, 110, 115);
    border-radius: 10px;
}
nav {
    padding: 18px;
    margin:8px;
    background-color: rgb(126, 123, 125);
    border-radius: 10px;
    text-align: left;
    position: sticky;
    top: 0px;
}

nav a {
    text-decoration: none;
    color: rgb(5, 0, 4);
    font-size: 25px;
    font-weight: bolder;
    margin-right: 25px;
}

nav a:hover {
    color: rgb(64, 63, 75);
}
.paragraph {
    padding: 18px;
    margin: 8px;
    color: rgb(4, 0, 8);

}